.data-filter-view {
}
.data-filter-tab {
  width: 100%;
  height: calc(70vh - 64px);
  padding: 0px 10px;
}
.data-filter-operation {
  width: 100%;
  overflow: hidden;
}
.data-filter-checkbox {
  float: right;

  margin-top: 10px;
  margin-bottom: 10px;
}
